body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

html {
  font-size: 85.7%;
}



.header span {
  color: #cf0000
}

.header h2 {
  transition: .5s linear;
}

.header h2:hover {
  color: #e55604;
}

.user-page {
  /* background-color: #26577c; */
  background-image: url("./Images/futuristic-video-game-equipment-illuminated-nightclub-generative-ai.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 1.8rem 0;
  box-sizing: border-box;
  display: flex;
  width: 100%;
  height: 84.1vh;
}

.playerRegister {
  display: flex;
  flex-direction: column;
  border: 2px solid white;
  border-radius: 5px;
  width: 30%;
  padding: 3rem 2%;
  margin: 0 1rem;
  box-sizing: border-box;
  height: 100%;
  /* background-color: #054765; */
  box-shadow: inset 0 0 15px #9fb7c3;

}

.user-page h1 {
  margin: 0 auto;
  color: #26577c;
  border: 2px solid #054765;
  border-radius: 5px;
  padding: 0 1rem;
  background-color: #ffffff;
  cursor: default;
}

.user-page span {
  color: #cf0000;
}

.user-page label {
  font-size: 1.2rem;
  color: #ffffff;
  font-weight: 700;
  margin: .6rem 0;
  width: 90%;
}

.user-page input {
  width: 95%;
  padding: .5rem .8rem;
  border-radius: 5px;
  outline: 0;
  margin: 0;
  border: 1px solid hsl(0, 0%, 80%);
  border-radius: 5px;
  font-size: large;
  font-weight: 500;
  color: #054765;
  box-sizing: border-box;
}



.timeslot {
  width: 95%;
  font-weight: 500;
  font-size: large;
  border-radius: 5px;
}

.book-slot {
  width: 50%;
  padding: .5rem .8rem;
  border: 2px solid #e55604;
  border-radius: 5px;
  background-color: #ffffff;
  margin: 0 auto;
  margin-top: 2rem;
  color: #26577c;
  font-size: large;
  font-weight: 800;
  transition: .3s ease;
  box-sizing: border-box;
}

.book-slot span {
  color: inherit;
}

.book-slot:hover {
  background-color: #e55604;
  cursor: pointer;
  border: 2px solid white;
  box-sizing: border-box;
}




.confirmBox {
  margin: 0 2rem;
  padding: 3rem 3rem;
  background-color: transparent;
  box-sizing: border-box;
  border-radius: 10px;
  border: 2px solid rgb(120, 217, 204);
  box-shadow: inset 0 0 15px rgb(120, 217, 204);
  flex-wrap: wrap;
  display: grid;
  width: 50rem;

}

.confirmBox h1 {
  background-color: #cf0000;
  padding: .5rem;
  box-sizing: border-box;
  border: none;
  color: yellow;
  margin: 0 auto 1rem auto;
}

.confirmBox h2 {
  background-color: #ffffff;
  border-radius: 5px;
  padding: .2rem 1rem;
  box-sizing: border-box;
  color: black;
  margin: 0;
  margin-bottom: 1rem;
  border: 1px solid yellow;
}

.confirmBox button {
  /* background-color: #ffffff; */
  margin-bottom: 1rem;
  padding: .5rem 0;
  font-size: 1.4rem;
  border-radius: 5px;
  font-weight: 600;
  border: 2px solid #cf0000;
}

.confirmBox button:hover {
  cursor: pointer;
  color: #ffffff;
  border: 2px solid #ffffff;
  background-color: #cf0000;
}

.caution {
  color: yellow !important;
  font-size: 1.5rem;
}

.footer {
  display: flex;
  justify-content: space-around;
  background-color: #054765;
  padding: .8rem 3%;
  color: #ffffff;
  font-size: .7rem;
  margin: 0;

  box-sizing: border-box;
}

@media all and (max-width:600px) {
  .playerRegister {
    width: 100vw;
    height: 60vh;
    padding: 2rem 4%;
  }

  .header div {
    display: none !important;
  }

  .user-page {
    height: 80.5vh;
    width: 100vw;
  }



  .playerListAlert {
    position: absolute;
    top: 4rem;
    left: 1rem;
    z-index: 4;
  }

  .confirmBox {
    width: 90%;
    background-color: #1ca6ec;
    margin: 4rem auto;
  }
}